h1.anim, .offer-block.anim{
    transform: translateX(-20%);
    transition: all 1.5s;
    opacity: 0;
}
h1.anim.active, .offer-block.anim.active{
    transform: translateX(0);
    opacity: 1;
}

h4.anim, span.anim, .icon-box.anim{
    transform: rotateY(90deg);
    transition: 2s;
}
h4.anim.active, span.anim.active, .icon-box.anim.active{
    transform: rotateY(0);
}

h2.anim{
    transform: rotateX(90deg);
    transition: all 2s;
    opacity: 0;
}
h2.anim.active{
    transform: rotateX(0);
    opacity: 1;
}