@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 100%;
}

body {
    font-family: $text;
    font-size: $simple-text;
    color: $common;
    line-height: 1.7em;
    font-weight: 400;
    background: $backg;
}

*[class*="container"],
*[class*="section"],
article, .back-to-home,
#top, header, main, footer{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

*[class*="padding"]{
    padding: 100px 0 120px;
    
}

*[class*="row"]{
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

sup, sub {
    font-size: $under-title-text / 2;
}

a, address{
    text-decoration: none;
    font-style: normal;
}

.scroll-text:hover, a:hover, .icon-box:hover>.icon>[class*="icon"] {color: $yellow;}