@media only all and (max-width: 1050px){
    body{
        #top{
            header{
                .container{
                    .mobile-column {
                        display: block;
                    }
                    .main-menu {
                        display: none;
                    }
                }
            }
        }
    }
    
}

@media only all and (max-width: 768px){
    [class*="padding"] {
        padding: 70px 12px;
    }

    h1, h2 {
        font-size: $logo-text * 1.5 !important;
    }

    body{
        #top{
            /* about */
            .section-about-padding{
                .auto-container{
                    .row{
                        .about-block{
                            width: 85%;
                            .about-image{
                                #circles-0{
                                    display: none;
                                }
                                .image-1, .image-2, .video-area{
                                    transform: scale(.9);
                                }
                            }
                        }
                        .about-discription{
                            width: 90%;
                        }
                    }
                }
            }

            /* amenities */
            .section-amenities-padding{
                .auto-container{
                    width: 100%;
                    .wrapper{
                        .section-heading{
                            padding: 0 20px;
                        }
                        .row{
                            .icon-box{
                                margin: 0 10px 15px;
                                padding: 20px 10px !important;
                                width: auto !important;
                                flex: 100px 1 auto;
                            }
                        }
                    }
                }
            }

            /* footer */
            footer{
                padding: 50px 0 20px;

                .auto-container{
                    .row{
                        .contact-block{
                            max-width: 100%;
                            margin-bottom: 20px;
                            border-bottom: 1px solid $li-border;
                            flex: 150px 1 auto;
                        }
                        .contact-block:nth-child(2){
                            order: 2;
                        }
                        .contact-block:nth-child(4){
                            order: 3;
                        }
                    } 
                }
            }
        }
    }
}

@media only all and (max-width: 560px){
    body{
        #top{
            header{
                .container{
                    padding: 0 10px;
                    justify-content: space-between;
                    .mobile-column{
                        right: 10px;
                    }
                    .link-btn{
                        display: none;
                    }
                }
            }
        }
    } 
}

@media only all and (max-width: 400px){
    [class*="padding"] {
        padding: 50px 5px;
    }

    h1, h2 {
        font-size: $logo-text !important;
    }

    body{
        #top{
            /* about */
            .section-about-padding{
                .auto-container{
                    .row{
                        .about-block{
                            width: 85%;
                            .about-image{
                                #circles-0{
                                    display: none;
                                }
                                .image-1, .image-2, .video-area{
                                    transform: scale(.8);
                                }
                            }
                        }
                        .about-discription{
                            width: 90%;
                        }
                    }
                }
            }

            /* amenities */
            .section-amenities-padding{
                .auto-container{
                    .wrapper{
                        .row{
                            .icon-box{
                                margin: 0 15px 15px;
                                padding: 30px 0;
                                width: 150px;
                                min-width: 100px;
                            }
                        }
                    }
                }
            }

            /* footer */
            footer{
                padding: 50px 0 20px;

                .auto-container{
                    .row{
                        .contact-block{
                           width: 85% !important;
                           margin-bottom: 20px;
                           border-bottom: 1px solid $li-border;
                        }
                    } 
                }
            }
        }
    }
}