/* font-family */
/* font-size */
/* color */
@media only all and (max-width: 1230px) {
  /* line 5, media.scss */
  body #top {
    /* testimonials */ }
    /* line 11, media.scss */
    body #top .section-testimonials-padding .auto-container .row .flexelement {
      width: 49.9%; }
      /* line 14, media.scss */
      body #top .section-testimonials-padding .auto-container .row .flexelement .testimonial-block .content {
        height: 170px; } }
@media only all and (max-width: 1050px) {
  /* line 28, media.scss */
  body #top {
    /* contacts */
    /* testimonials */
    /* gallery section */
    /* mainAmenities section */
    /* events section */ }
    /* line 31, media.scss */
    body #top header .container .mobile-column {
      display: block; }
    /* line 34, media.scss */
    body #top header .container .main-menu {
      display: none; }
    /* line 43, media.scss */
    body #top .section-contact-padding .auto-container .row {
      -webkit-box-shadow: none !important;
              box-shadow: none !important; }
      /* line 45, media.scss */
      body #top .section-contact-padding .auto-container .row .contact-form {
        width: 30%; }
        /* line 49, media.scss */
        body #top .section-contact-padding .auto-container .row .contact-form .contact-form-group .form {
          padding: 10px 10px; }
          /* line 53, media.scss */
          body #top .section-contact-padding .auto-container .row .contact-form .contact-form-group .form .flex-form .contact-btn {
            margin: 0 auto; }
      /* line 60, media.scss */
      body #top .section-contact-padding .auto-container .row .map {
        width: 65%;
        margin: 0 !important; }
    /* line 73, media.scss */
    body #top .section-testimonials-padding .auto-container .row .flexelement {
      width: 49.9%; }
      /* line 76, media.scss */
      body #top .section-testimonials-padding .auto-container .row .flexelement .testimonial-block .content {
        height: 300px; }
    /* line 91, media.scss */
    body #top .section-gallery-padding .auto-container .sortable .filters .filter-tabs-clearfix .filter-btns {
      margin-bottom: 30px; }
      /* line 93, media.scss */
      body #top .section-gallery-padding .auto-container .sortable .filters .filter-tabs-clearfix .filter-btns a {
        padding: 5px 12px;
        line-height: 1.2; }
    /* line 99, media.scss */
    body #top .section-gallery-padding .auto-container .sortable .filters .filter-tabs-clearfix::after {
      display: none; }
    /* line 110, media.scss */
    body #top .section-mainAmenities-padding .auto-container .row {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      /* line 112, media.scss */
      body #top .section-mainAmenities-padding .auto-container .row .flexelement {
        width: 70%; }
        /* line 114, media.scss */
        body #top .section-mainAmenities-padding .auto-container .row .flexelement .amenities-block {
          margin-bottom: 50px; }
    /* line 128, media.scss */
    body #top .section-events-padding .auto-container .row .flexelement .event-block .event-image {
      min-width: 300px; } }
@media only all and (max-width: 768px) {
  /* line 141, media.scss */
  [class*="padding"] {
    padding: 70px 12px; }

  /* line 145, media.scss */
  h1, h2 {
    font-size: 48px !important; }

  /* line 150, media.scss */
  body #top {
    /* about */
    /* amenities */
    /* contacts */
    /* testimonials */
    /* gallery section */
    /* mainAmenities section */
    /* events section */
    /* footer */ }
    /* line 155, media.scss */
    body #top .section-about-padding .auto-container .row .about-block {
      width: 100%;
      padding: 0 15px; }
      /* line 159, media.scss */
      body #top .section-about-padding .auto-container .row .about-block .about-image #circles-0 {
        display: none; }
      /* line 162, media.scss */
      body #top .section-about-padding .auto-container .row .about-block .about-image .image-1, body #top .section-about-padding .auto-container .row .about-block .about-image .image-2, body #top .section-about-padding .auto-container .row .about-block .about-image .video-area {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
        height: auto; }
    /* line 168, media.scss */
    body #top .section-about-padding .auto-container .row .about-discription {
      width: 100%;
      padding: 0 15px; }
    /* line 178, media.scss */
    body #top .section-amenities-padding .auto-container {
      width: 100%; }
      /* line 181, media.scss */
      body #top .section-amenities-padding .auto-container .wrapper .section-heading {
        padding: 0 20px; }
      /* line 185, media.scss */
      body #top .section-amenities-padding .auto-container .wrapper .row .icon-box {
        margin: 0 10px 15px;
        padding: 20px 10px !important;
        width: auto !important;
        -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto; }
    /* line 202, media.scss */
    body #top .section-contact-padding .auto-container .contact-info li ul .location {
      border-left: 1px solid #bebec3 !important; }
    /* line 205, media.scss */
    body #top .section-contact-padding .auto-container .contact-info li ul .A1 {
      margin-right: 71px; }
    /* line 208, media.scss */
    body #top .section-contact-padding .auto-container .contact-info li ul li:last-child {
      width: 200px; }
    /* line 212, media.scss */
    body #top .section-contact-padding .auto-container .contact-info li ul:first-child {
      margin-bottom: 0; }
    /* line 217, media.scss */
    body #top .section-contact-padding .auto-container .row {
      -webkit-box-shadow: none !important;
              box-shadow: none !important; }
      /* line 220, media.scss */
      body #top .section-contact-padding .auto-container .row .contact-form {
        width: 100%; }
        /* line 224, media.scss */
        body #top .section-contact-padding .auto-container .row .contact-form .contact-form-group .form {
          padding: 30px 60px; }
          /* line 228, media.scss */
          body #top .section-contact-padding .auto-container .row .contact-form .contact-form-group .form .flex-form .contact-btn {
            margin: 0 auto; }
      /* line 235, media.scss */
      body #top .section-contact-padding .auto-container .row .map {
        width: 100%;
        height: 90vw;
        margin: 0 !important; }
    /* line 249, media.scss */
    body #top .section-testimonials-padding .auto-container .row .flexelement {
      width: 100%; }
      /* line 252, media.scss */
      body #top .section-testimonials-padding .auto-container .row .flexelement .testimonial-block .content {
        height: 300px; }
    /* line 267, media.scss */
    body #top .section-gallery-padding .auto-container .sortable .filters .filter-tabs-clearfix .filter-btns {
      margin-bottom: 30px; }
      /* line 269, media.scss */
      body #top .section-gallery-padding .auto-container .sortable .filters .filter-tabs-clearfix .filter-btns a {
        padding: 5px 12px;
        font-size: 10px;
        line-height: 1.2; }
    /* line 276, media.scss */
    body #top .section-gallery-padding .auto-container .sortable .filters .filter-tabs-clearfix::after {
      display: none; }
    /* line 287, media.scss */
    body #top .section-mainAmenities-padding .auto-container .row {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      /* line 289, media.scss */
      body #top .section-mainAmenities-padding .auto-container .row .flexelement {
        width: 70%; }
        /* line 291, media.scss */
        body #top .section-mainAmenities-padding .auto-container .row .flexelement .amenities-block {
          margin-bottom: 50px; }
          /* line 294, media.scss */
          body #top .section-mainAmenities-padding .auto-container .row .flexelement .amenities-block .amenities-content .block-heading-title-small {
            font-size: 12.8px; }
          /* line 297, media.scss */
          body #top .section-mainAmenities-padding .auto-container .row .flexelement .amenities-block .amenities-content .block-heading-title-big {
            font-size: 24px; }
          /* line 300, media.scss */
          body #top .section-mainAmenities-padding .auto-container .row .flexelement .amenities-block .amenities-content .block-heading-title-discription {
            font-size: 12.8px; }
    /* line 315, media.scss */
    body #top .section-events-padding .auto-container .row .flexelement .event-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }
      /* line 320, media.scss */
      body #top .section-events-padding .auto-container .row .flexelement .event-block .event-image {
        position: relative;
        width: 40%;
        margin: 15px; }
      /* line 327, media.scss */
      body #top .section-events-padding .auto-container .row .flexelement .event-block .event-content .event-title {
        font-size: 32px; }
    /* line 338, media.scss */
    body #top footer {
      padding: 50px 0 20px; }
      /* line 343, media.scss */
      body #top footer .auto-container .row .contact-block {
        max-width: 100%;
        margin-bottom: 20px;
        border-bottom: 1px solid #3a3a3a;
        -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto; }
      /* line 349, media.scss */
      body #top footer .auto-container .row .contact-block:nth-child(2) {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; }
      /* line 352, media.scss */
      body #top footer .auto-container .row .contact-block:nth-child(4) {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3; } }
@media only all and (max-width: 560px) {
  /* line 364, media.scss */
  body #top {
    /* contact */
    /* testimonials */
    /* gallery section */
    /* mainAmenities section */
    /* events section */ }
    /* line 366, media.scss */
    body #top header .container {
      padding: 0 10px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      /* line 369, media.scss */
      body #top header .container .mobile-column {
        right: 10px; }
      /* line 372, media.scss */
      body #top header .container .link-btn {
        display: none; }
    /* line 382, media.scss */
    body #top .section-contact-padding .auto-container .row .contact-form {
      width: 100%; }
      /* line 388, media.scss */
      body #top .section-contact-padding .auto-container .row .contact-form .contact-form-group .form .flex-form .contact-btn {
        margin: 0 auto; }
    /* line 395, media.scss */
    body #top .section-contact-padding .auto-container .row .map {
      width: 100%;
      height: 120vw;
      margin: 0 !important; }
    /* line 408, media.scss */
    body #top .section-testimonials-padding .auto-container .row .flexelement {
      width: 100%; }
      /* line 411, media.scss */
      body #top .section-testimonials-padding .auto-container .row .flexelement .testimonial-block .content {
        height: 300px; }
    /* line 426, media.scss */
    body #top .section-gallery-padding .auto-container .sortable .filters .filter-tabs-clearfix .filter-btns {
      margin-bottom: 20px; }
      /* line 428, media.scss */
      body #top .section-gallery-padding .auto-container .sortable .filters .filter-tabs-clearfix .filter-btns a {
        padding: 5px 8px;
        font-size: 8px;
        line-height: 1.2; }
    /* line 435, media.scss */
    body #top .section-gallery-padding .auto-container .sortable .filters .filter-tabs-clearfix::after {
      display: none; }
    /* line 446, media.scss */
    body #top .section-mainAmenities-padding .auto-container .row {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      /* line 448, media.scss */
      body #top .section-mainAmenities-padding .auto-container .row .flexelement {
        width: 70%; }
        /* line 450, media.scss */
        body #top .section-mainAmenities-padding .auto-container .row .flexelement .amenities-block {
          margin-bottom: 50px; }
          /* line 452, media.scss */
          body #top .section-mainAmenities-padding .auto-container .row .flexelement .amenities-block .amenities-content {
            padding: 10px 12px 3px;
            margin: -30px 40px 0; }
            /* line 455, media.scss */
            body #top .section-mainAmenities-padding .auto-container .row .flexelement .amenities-block .amenities-content .block-heading-title-small {
              font-size: 12.8px; }
            /* line 458, media.scss */
            body #top .section-mainAmenities-padding .auto-container .row .flexelement .amenities-block .amenities-content .block-heading-title-big {
              font-size: 20px; }
            /* line 461, media.scss */
            body #top .section-mainAmenities-padding .auto-container .row .flexelement .amenities-block .amenities-content .block-heading-title-discription {
              font-size: 8px; }
    /* line 478, media.scss */
    body #top .section-events-padding .auto-container .row .flexelement .event-block .event-content .event-title {
      font-size: 26.6666666667px; } }
@media only all and (max-width: 400px) {
  /* line 492, media.scss */
  [class*="padding"] {
    padding: 50px 5px; }

  /* line 496, media.scss */
  h1, h2 {
    font-size: 32px !important; }

  /* line 501, media.scss */
  body #top {
    /* about */
    /* amenities */
    /* contacts */
    /* testimonials */
    /* gallery section */
    /* mainAmenities section */
    /* events section */
    /* footer */ }
    /* line 504, media.scss */
    body #top .section-about-padding {
      padding: 50px 10px 5px; }
      /* line 508, media.scss */
      body #top .section-about-padding .auto-container .row .about-discription {
        position: static;
        padding: 0 25px;
        margin: 0 auto;
        width: 100%;
        text-align: center; }
      /* line 515, media.scss */
      body #top .section-about-padding .auto-container .row .about-block {
        width: 100%;
        padding: 0 15px; }
        /* line 519, media.scss */
        body #top .section-about-padding .auto-container .row .about-block .about-image #circles-0 {
          display: none; }
        /* line 522, media.scss */
        body #top .section-about-padding .auto-container .row .about-block .about-image .image-1, body #top .section-about-padding .auto-container .row .about-block .about-image .image-2, body #top .section-about-padding .auto-container .row .about-block .about-image .video-area {
          height: auto; }
    /* line 537, media.scss */
    body #top .section-amenities-padding .auto-container .wrapper .row .icon-box {
      margin: 0 15px 15px;
      padding: 30px 0;
      width: 150px;
      min-width: 100px; }
    /* line 553, media.scss */
    body #top .section-contact-padding .auto-container .contact-info li {
      border-left: 1px solid #bebec3 !important; }
    /* line 557, media.scss */
    body #top .section-contact-padding .auto-container .row {
      -webkit-box-shadow: none !important;
              box-shadow: none !important; }
      /* line 559, media.scss */
      body #top .section-contact-padding .auto-container .row .contact-form {
        width: 100%; }
        /* line 563, media.scss */
        body #top .section-contact-padding .auto-container .row .contact-form .contact-form-group .form {
          padding: 15px 20px; }
          /* line 567, media.scss */
          body #top .section-contact-padding .auto-container .row .contact-form .contact-form-group .form .flex-form .contact-btn {
            margin: 0 auto; }
      /* line 574, media.scss */
      body #top .section-contact-padding .auto-container .row .map {
        width: 100%;
        height: 150vw;
        margin: 0 !important; }
    /* line 588, media.scss */
    body #top .section-testimonials-padding .auto-container .row .flexelement {
      width: 100%; }
      /* line 591, media.scss */
      body #top .section-testimonials-padding .auto-container .row .flexelement .testimonial-block .content {
        height: 350px; }
    /* line 606, media.scss */
    body #top .section-gallery-padding .auto-container .sortable .filters .filter-tabs-clearfix .filter-btns {
      margin-bottom: 10px; }
      /* line 608, media.scss */
      body #top .section-gallery-padding .auto-container .sortable .filters .filter-tabs-clearfix .filter-btns a {
        padding: 5px 2px;
        font-size: 7px;
        line-height: 1.2; }
    /* line 615, media.scss */
    body #top .section-gallery-padding .auto-container .sortable .filters .filter-tabs-clearfix::after {
      display: none; }
    /* line 626, media.scss */
    body #top .section-mainAmenities-padding .auto-container .row {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      /* line 628, media.scss */
      body #top .section-mainAmenities-padding .auto-container .row .flexelement {
        width: 70%; }
        /* line 630, media.scss */
        body #top .section-mainAmenities-padding .auto-container .row .flexelement .amenities-block {
          margin-bottom: 50px; }
          /* line 632, media.scss */
          body #top .section-mainAmenities-padding .auto-container .row .flexelement .amenities-block .amenities-content {
            padding: 10px 12px 3px;
            margin: -30px 40px 0; }
            /* line 635, media.scss */
            body #top .section-mainAmenities-padding .auto-container .row .flexelement .amenities-block .amenities-content .block-heading-title-small {
              font-size: 9.6px; }
            /* line 638, media.scss */
            body #top .section-mainAmenities-padding .auto-container .row .flexelement .amenities-block .amenities-content .block-heading-title-big {
              font-size: 17px; }
            /* line 641, media.scss */
            body #top .section-mainAmenities-padding .auto-container .row .flexelement .amenities-block .amenities-content .block-heading-title-discription {
              display: none; }
    /* line 658, media.scss */
    body #top .section-events-padding .auto-container .row .flexelement .event-block .event-content .event-title {
      font-size: 21.3333333333px; }
    /* line 669, media.scss */
    body #top footer {
      padding: 50px 0 20px; }
      /* line 674, media.scss */
      body #top footer .auto-container .row .contact-block {
        width: 80% !important;
        margin-bottom: 20px;
        border-bottom: 1px solid #3a3a3a; } }

/*# sourceMappingURL=media.css.map */